In [11]:
import joblib
import xgboost as xgb

In [66]:
loaded_model = joblib.load('models/xgboost_model_joblib.pkl')

In [13]:

# Save it in XGBoost's JSON format
loaded_model.save_model('models/xgboost_model_latest.json')

TypeError: `_estimator_type` undefined.  Please use appropriate mixin to define estimator type.

In [14]:
model = xgb.Booster()
model.load_model('models/xgboost_model_latest.json')

# Save the model in the latest format
model.save_model('models/xgboost_model_latest.json')

XGBoostError: [10:36:39] /Users/runner/work/xgboost/xgboost/src/common/io.cc:147: Opening models/xgboost_model_latest.json failed: No such file or directory
Stack trace:
  [bt] (0) 1   libxgboost.dylib                    0x0000000122c3c428 dmlc::LogMessageFatal::~LogMessageFatal() + 124
  [bt] (1) 2   libxgboost.dylib                    0x0000000122d25340 xgboost::common::LoadSequentialFile(std::__1::basic_string<char, std::__1::char_traits<char>, std::__1::allocator<char>>) + 728
  [bt] (2) 3   libxgboost.dylib                    0x0000000122cc0244 XGBoosterLoadModel::$_4::operator()() const + 144
  [bt] (3) 4   libxgboost.dylib                    0x0000000122cbfe44 XGBoosterLoadModel + 620
  [bt] (4) 5   libffi.8.dylib                      0x000000010505c04c ffi_call_SYSV + 76
  [bt] (5) 6   libffi.8.dylib                      0x0000000105059834 ffi_call_int + 1404
  [bt] (6) 7   _ctypes.cpython-312-darwin.so       0x000000010503c110 _ctypes_callproc + 756
  [bt] (7) 8   _ctypes.cpython-312-darwin.so       0x0000000105035f8c PyCFuncPtr_call + 232
  [bt] (8) 9   python3.12                          0x0000000102b136b8 _PyEval_EvalFrameDefault + 192068

In [15]:
import pandas as pd
df=pd.read_csv('dataset/data-3.csv')
df.head()

,record_ID,week,store_id,sku_id,total_price,base_price,is_featured_sku,is_display_sku,units_sold
0,1,17/01/11,8091,216418,99.0375,111.8625,0,0,20
1,2,17/01/11,8091,216419,99.0375,99.0375,0,0,28
2,3,17/01/11,8091,216425,133.9500,133.9500,0,0,19
3,4,17/01/11,8091,216233,133.9500,133.9500,0,0,44
4,5,17/01/11,8091,217390,141.0750,141.0750,0,0,52

In [62]:
def feature_extraction(df):
    df['week']=pd.to_datetime(df['week'])

    df['year'] = df['week'].dt.year
    df['month'] = df['week'].dt.month
    df['weekday'] = df['week'].dt.weekday
    df['dayofweek'] = df['week'].dt.dayofweek
    df['dayofyear'] = df['week'].dt.dayofyear
    df['quarter'] = df['week'].dt.quarter
   
    df.set_index('week',inplace=True)
    return df

In [ ]:
df1=pd.DataFrame(columns=['store_id', 'sku_id', 'total_price', 'base_price', 'is_featured_sku',
       'is_display_sku', 'week'])

In [ ]:
new_row = {
    'record_ID': 6,
    'week': '24/01/11',
    'store_id': 8091,
    'sku_id': 217391,
    'total_price': 150.0,
    'base_price': 150.0,
    'is_featured_sku': 1,
    'is_display_sku': 1,
}

In [56]:
df1.loc[len(df)] = new_row
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 150150 to 150150
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   store_id         1 non-null      int64
 1   sku_id           1 non-null      int64
 2   total_price      1 non-null      float64
 3   base_price       1 non-null      float64
 4   is_featured_sku  1 non-null      int64
 5   is_display_sku   1 non-null      int64
 6   week             1 non-null      object
dtypes: float64(2), int64(4), object(1)
memory usage: 64.0+ bytes

In [57]:
df1

,store_id,sku_id,total_price,base_price,is_featured_sku,is_display_sku,week
150150,8091,217391,150.0,150.0,1,1,24/01/11

In [64]:
df1=pd.DataFrame(columns=['store_id', 'sku_id', 'total_price', 'base_price', 'is_featured_sku',
       'is_display_sku', 'week'])
new_row = {
    'record_ID': 6,
    'week': '24/01/11',
    'store_id': 8091,
    'sku_id': 217391,
    'total_price': 150.0,
    'base_price': 150.0,
    'is_featured_sku': 1,
    'is_display_sku': 1,
}
df1.loc[len(df)] = new_row
df1=feature_extraction(df1)
predict=loaded_model.predict(df1)
predict

array([35.735275], dtype=float32)

In [58]:
df1=feature_extraction(df1)

df1

        store_id  sku_id  total_price  base_price  is_featured_sku  \
150150      8091  217391        150.0       150.0                1

        is_display_sku       week  year  month  weekday  dayofweek  dayofyear  \
150150               1 2011-01-24  2011      1        0          0         24

        quarter
150150        1
            store_id  sku_id  total_price  base_price  is_featured_sku  \
week
2011-01-24      8091  217391        150.0       150.0                1

            is_display_sku  year  month  weekday  dayofweek  dayofyear  \
week
2011-01-24               1  2011      1        0          0         24

            quarter
week
2011-01-24        1

,store_id,sku_id,total_price,base_price,is_featured_sku,is_display_sku,year,month,weekday,dayofweek,dayofyear,quarter
week,,,,,,,,,,,,
2011-01-24,8091,217391,150.0,150.0,1,1,2011,1,0,0,24,1

In [60]:
predict=loaded_model.predict(df1)
predict

array([35.735275], dtype=float32)